spring:
  datasource:
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3306/oauth?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      authorization:
        check-token-access: isAuthenticated()
server:
  port: 8081